[2016-10-31 22:39] wesruv opened #2 "Prepare for first meeting with team"
- [x] Finalize a place and time
- [x] Create an Agenda
- [x] Finalize Agenda
- [x] Finalize details of working environments
- [x] Let team know what software we'll need before hand

[2016-10-31 22:42] wesruv opened #3 "[META] Create Content Inventory of current site"
### Information we're trying to collect:
- How the pages/section fit into the site-tree/navigation
- Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "about us page" but also has a listing of seminars, a summary of the lending library, and it lists the board members)
- Identify any 'special' functionality or

[2016-10-31 23:44] wesruv commented on #2
Agenda is here: https://paper.dropbox.com/doc/First-JACO-meeting-Mcm1iYLWpABESUAztRxb9

[2016-11-05 18:06] #2 closed

[2016-11-06 22:11] wesruv opened #4 "Content Inventory - Gallery Section"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/Gallery.html

Information we're trying to collect for the page above and it's sub-pages:
- [x] How the pages/section fit into the site-tree/navigation
- [x] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "ab

[2016-11-06 22:12] wesruv opened #5 "Content Inventory - Intro"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/intro.html

Information we're trying to collect for the page above and it's sub-pages:
- [x] How the pages/section fit into the site-tree/navigation
- [x] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "abou

[2016-11-06 22:12] wesruv opened #6 "Content Inventory - Additional Resources"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/resource_index.html

Information we're trying to collect for the page above and it's sub-pages:
- [x] How the pages/section fit into the site-tree/navigation
- [x] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is

[2016-11-06 22:15] wesruv opened #7 "Content Inventory - Historic Building"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/building.html

Information we're trying to collect for the page above and it's sub-pages:
- [x] How the pages/section fit into the site-tree/navigation
- [x] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "a

[2016-11-06 22:24] wesruv opened #8 "Content Inventory - Bookstore"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/bookstore.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "

[2016-11-06 22:24] wesruv opened #9 "Content Inventory - OVAJA"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/ovaja.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "abou

[2016-11-06 22:25] wesruv opened #10 "Content Inventory - Upcoming Programs"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/upcomingPRO.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the

[2016-11-06 22:26] wesruv opened #11 "Content Inventory - Welcome"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/Welcome.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "ab

[2016-11-06 22:26] wesruv opened #12 "Content Inventory - Other Regional Events"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/regionalEvents.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is

[2016-11-06 22:34] wesruv opened #13 "Content Inventory - Second Saturday Discussions"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/saturday.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "a

[2016-11-06 22:45] wesruv opened #14 "Content Inventory - 4th Saturday Member's Gathering"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/4th_saturday.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is th

[2016-11-06 22:47] wesruv opened #15 "Content Inventory - Homepage"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/
(do not worry about figuring out it's sub-pages/sections)

Information we're trying to collect for the page above:
- [x] How the pages/section fit into the site-tree/navigation
- [x] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming ev

[2016-11-06 22:49] wesruv opened #16 "Content Inventory - Recent Programs"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/recentPRO.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "

[2016-11-06 22:54] wesruv opened #17 "Content Inventory - Bollinger Lectures"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/bollingen.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "

[2016-11-06 22:54] wesruv opened #18 "Content Inventory - Local Jungian Analysis"
Parent Issue: https://github.com/wesruv/jungcentralohio.org/issues/3

http://www.jungcentralohio.org/local.html

Information we're trying to collect for the page above and it's sub-pages:
- [ ] How the pages/section fit into the site-tree/navigation
- [ ] Identify chunks of content that make up the page (e.g. the page is an 'event', but also has listings of upcoming events OR the page is the "abou

[2016-11-06 23:12] wesruv commented on #15
# Homepage
Hub for the entire site

Has the following content areas:
* Heading Area, which is made up of:
  * Page heading
  * Large logo image
  * Tagline, might leave this off, it's explaining how to use the site, the design should address this and shouldn't need explaining
* Has a quote, which is made up of:
  * Quote text
  * Speaker
  * Publication
  * Year
* Sidebar for section flyers
  * so

[2016-11-07 01:07] maryeb commented on #4
# **Jung Association Gallery**
 _Information on current and past visual art exhibits_

### Content areas include:
    Heading area with:
    - Page heading
    - Large logo image

     Section with:
    - Title “Current Exhibit”
    - Subtitle of specific exhibit
    - Large image of artist’s work
    - Title of image
    - Artist’s name
    - Date span of exhibit *
    - Short paragraph with date

[2016-11-07 01:14] maryeb commented on #4
Section with:
  - Title “Past Exhibits”
  - Divs set up three columns across twenty-three rows down each div includes title of exhibit, artist’s name, date span
   - most divs include thumbnail image of artist’s work, clickable to view larger

   Section with:
  - Title “Auctioned Items”
   One line describing beneficiary.
  - Two divs with thumbnail images of artwork, artist’s name, donor (where

[2016-11-07 12:50] maryeb commented on #5
# Jung Association Intro
Overview of the organization

**Content areas include:**

* Heading area with:
  * Title of organization, acronym, page heading
    (Don't know that they need the organization title and acronym. Don't need acronym repeated twice)
* Section with:
   * Blocks of text describing purpose, location, membership, bookstore, and a list* arranged in two columns. No headings. (Need

[2016-11-08 00:40] wesruv commented on #5
Great work!

The biggest problem with this page is it's a not so short description of content on the rest of the site, and is a little scattered. As @maryeb points out, it'd be great to put this content in the appropriate areas.

[2016-11-09 00:39] maryeb commented on #6
# Other Jung Resources
Links to additional Jungian sites

**Content areas:**
Use Frameset with two windows

 * Navigation menu
 * Main area that can be replace by navigating in first.

(It looks like the frameset tag is not supported in HTML5. Forums suggest using jQuery, AJAX, iframe tag)

[2016-11-09 01:26] maryeb commented on #7
# Jung Historic Building

Image of JACO building, "Jung House" with address

**Content includes:**
 * Header with title
 * Large image of building
 * address

Two ideas:
 1. Doesn’t need to be a separate page. If the content on the “Intro page is streamlined, a smaller version of this image could be added to the “Intro” page. “Into” page already contains information on address, location and hours

[2016-11-15 22:33] wesruv commented on #6
@maryeb for the Content Inventory part of this we just want to focus on what content they've added here. Ignoring the frames.

For this one I'd say:
* Link (with link name and URL)
* Appears that these may be categorized somehow?

[2016-11-16 00:08] maryeb commented on #6
@wesruv I made the changes.  Is this what you want? Anything else?

[2016-11-18 20:41] CraigKaminski commented on #16
# Recent JACO Programs

A list of past programs

* Reached via the "Recent Programs" link on the homepage and "recent" link at the bottom of all pages
* Each program entry consists of:
  * Date(s)
  * Title
  * Presenter(s)
* The entire program entry is a link to a flyer
* The flyers are typically PDFs, but some are HTML documents
* The programs for 2016 and 2015 are visible
* The 2016 programs ar

[2016-11-19 13:15] pascalmp commented on #14
# 4th Saturday Members' Gathering
Page has the following content areas:

1.Header containing:

- Small logo image

- Name

- Phone number button

- register/login links

2.Navbar containing:

- links to other pages of the site
- I'm thinking a transparent one giving the effect of links floating,
- we can put a circular background under each link, if that's not too much)
- collapsible

3.Body area

[2016-11-19 13:47] pascalmp commented on #13
# Second Saturday Discussions
 heading area:
- image logo
- org. name
- Phone number
- registration/login
- Navbar (collapsible, links to other major pages)

Body area:

- image for 25th celebration(or future anniversaries)
- Welcome text to Event
- Time and Directions(Maps)
- List of upcoming and past events(Maybe thumbnails with links to expand text)
- Donations link(would direct to their paypal

[2016-11-19 14:10] pascalmp commented on #12
#  Other Regional Events

The page looks like it has a website(cleveland chapiter) within a website, this would probably just be a link that redirects to that external website.

As for the actual Page , it would still contain :

Page header

- image logo
- org. name
- Phone number
- registration/login
- Navbar (collapsible, links to other major pages)

Body area

- Text title
- text body
- Related

[2016-11-20 22:25] wesruv commented on #16
Looks good!

[2016-11-20 22:26] wesruv commented on #14
Looks good!

[2016-11-20 22:28] wesruv commented on #12
Yea, this was a weird one, looks good!

[2016-11-20 22:29] wesruv commented on #13
Looks good!

[2016-11-20 22:33] #12 closed

[2016-11-20 22:33] #14 closed

[2016-11-20 22:33] #13 closed

[2016-11-20 22:33] #16 closed

[2016-11-20 22:34] #15 closed

[2016-11-20 22:35] wesruv commented on #4
Looks great!

[2016-11-20 22:35] #4 closed

[2016-11-20 22:35] #5 closed

[2016-11-20 22:36] wesruv commented on #7
Great suggestions, looks good!

[2016-11-20 22:36] #7 closed

[2016-11-20 22:37] wesruv commented on #6
That's very thorough, more than I expected, but that'll come in handy 😄

[2016-11-20 22:37] #6 closed

[2016-11-20 22:42] wesruv opened #19 "Create Style Tile to Present to JACO team"
See example here:
![image](https://cloud.githubusercontent.com/assets/5607236/20466826/66d60880-af48-11e6-85d8-ec26d2c9d2d2.png)

Want to create at least  three style tiles to present to them, but we should winnow it down to three when we present.

Please use fonts that can be fond on: https://fonts.google.com or "web safe fonts" (see http://web.mit.edu/jmorzins/www/fonts.html). We should be getti

[2016-11-20 22:48] maryeb commented on #19
@wesruv I started working on a style tile in CodePen, to see if this would be an option for me. If you get a chance, I'd like to know if I'm on the right track or if I'm wasting my time. I'm still thinking of getting a new laptop so I can use PaintShop Pro and the Style Tile template. Thanks!
http://codepen.io/maryeb/pen/xRgJEM?editors=1100

[2016-11-20 22:48] wesruv opened #20 "Get image assets from JACO team"
Would like:
- [ ] Logo(s)
- [ ] Pictures of Jung that we are allowed to use on the site
- [ ] Pictures of events, members, etc
- [ ] Pictures of Jung House

[2016-11-20 22:53] wesruv commented on #19
Wanted to mention that we probably can't complete this ticket until this ticket is completed https://github.com/wesruv/jungcentralohio.org/issues/20

@maryeb No worries, that looks like a great start! Try to get it it to follow the layout of the style tile in the top of the ticket as much as possible (don't worry about matching aesthetics, just general layout) and I think that could work very well

[2016-11-20 22:56] wesruv commented on #19
@maryeb looks like there are a number of style tiles on Codepen: http://codepen.io/tag/style%20tile

If you get stuck you could probably borrow parts from other style tiles.

[2016-11-20 22:59] maryeb commented on #19
@wesruv Cool! Thanks for the CodePen link.

[2016-11-21 03:10] starbuck28 commented on #8
# **Bookstore**

A major page linked to from home page navigation

Content areas include:

**Main Header** (text only)

**Library Catalog**

- Subheader (text only)
- Image- when clicked links to catalog in same window(Google doc)
- Instructions on how to use catalog

_Catalog_(Google Doc) contains list of library items
Library Item:

- Author
- Title
- Type of Item (book, DVD, etc)
- Publisher
-

[2016-11-21 03:22] starbuck28 commented on #9
# **OVAJA**

A page that will likely be linked to from a drop down menu on home page or from another major page

Content areas include:

**Main header** (text only)

**Intro**

- paragraph description of OVAJA

**Purpose**

- paragraph

 description

**Address and Officers**

- address of OVAJA
- contact person
- phone number
- email

**List of officers**

- Title and name of officer

**List of me

[2016-11-22 03:09] starbuck28 commented on #10
# Upcoming Events
A major page linked to from main menu/home page

Content consists of:

**Main Header** (text only)

**JACO logo**

**Subheader**

- Instructions on program registration including
- 	Link to online payment @ Eventzilla (same window)
- 	Phone number
- 	How to mail payment

**Subheader**-Link to Second Saturdays page
(unclear from page what this is)

**Events List** consisting of:
-

[2016-11-23 00:20] starbuck28 commented on #11
# Welcome

A page linked to from the main menu as an introduction to the site

- Page Header (text)
- JACO Logo
- Content Main Header
- Subheader
- Welcome message

[2016-11-27 22:28] CraigKaminski commented on #17
# The Bollingen Lectures
* Details of current year's lecture and list of past years lectures
* Reached via the "The Bollingen Lectures" link on the homepage and "bollingen" link at the bottom of all pages
* "THE BOLLINGEN LECTURES" heading at top of page
* JACO 25 years image
* The current year's lecture details include the following:
  * Year of lecture in the form of "YYYY BOLLINGEN LECTURE"
  *

[2016-11-27 22:39] CraigKaminski commented on #18
# Local Jungian Analysts
List of analysts
* List of Analysts each consisting of:
  * Name with credentials
  * Services provided
  * Where diploma was obtained
  * phone number
  * email address

[2016-12-10 16:00] wesruv commented on #11
Looks great!

[2016-12-10 16:07] #11 closed

[2016-12-10 16:17] wesruv commented on #10
This looks great!

I think that these two parts of the "Event List" are actually just one thing, since it doesn't seem to be a consistent part of events:
* Description of event
* Level of knowledge needed

However I really like the idea of "Level of knowledge" needed, we could suggest that and ask if that comes up a lot.

A nit-pick, I wouldn't quite call the two things marked as "Subheader" subhe

[2016-12-10 16:17] #10 closed

[2016-12-10 16:25] wesruv commented on #8
Great work, love the recommendations!

I would identify Library and Bookstore as a single type of content that was used twice, it's a photo with title, image and attribution and optionally some text underneath. However I'd recommend to them that we do a bit more with those bits of content, it's unclear what their purpose is right now, and I think it's to get people to come visit them. Something we

[2016-12-10 16:25] #8 closed

[2016-12-10 16:41] wesruv commented on #9
Perfect!

[2016-12-10 16:41] #9 closed

[2016-12-10 16:42] wesruv commented on #18
Perfect

[2016-12-10 16:42] #18 closed

[2016-12-10 16:45] wesruv commented on #17
Looks great!

I'd list "Details of Friday lecture" and "Details of Saturday workshop" one type of content used twice since they seem to be uniform.

[2016-12-10 16:45] #17 closed

[2016-12-10 16:46] #3 closed

[2016-12-10 17:07] wesruv opened #21 "[META] Creating Data Structure"

[2016-12-10 17:07] wesruv opened #22 "Data Structure - Event"
Events are a content type for any gathering they plan, gallery exhibit, regular workshops, one off special events, etc.

* Name
* Description
* Date, Start & End
* Price
* Image
* Number of seats

We may want to try and create repeating events, but I think that will take some research to figure out how do-able that is.

Leaving off Location, speaker, and registration link for now.

Related content

[2016-12-10 17:08] wesruv opened #23 "Data Structure - Event Registration"

[2016-12-10 17:10] wesruv opened #24 "Data Structure - Location"

[2016-12-10 17:11] wesruv opened #25 "Data Structure - Membership"

[2016-12-10 17:13] wesruv opened #26 "Data Structure - User / Member"

[2016-12-10 17:14] wesruv opened #27 "Data Structure - Gallery Item"

[2016-12-10 17:15] wesruv opened #28 "Data Structure - Gallery Exhibit"

[2016-12-10 17:16] wesruv opened #29 "Data Structure - Gallery Artist"

[2016-12-10 17:18] wesruv opened #30 "Data Structure - MP3 Recording"

[2016-12-10 17:22] wesruv opened #31 "Data Structure - Lending Library Item"
This is for items in their lending library, we'll going to add more fields later, but for now we're going with what we know.

* Title
* Description
* Published/Created Year
* Image
* Amazon Link

Intentionally leaving out Medium (Book/CD/etc) and Credits/Author/Artist for now.

[2016-12-10 17:25] wesruv opened #32 "Data Structure - Library Item"
This content type will be an item from their library or store, we'll likely need to add more fields to this later, but for now we're going to stick with what we know.

* Name
* Description
* Price
* Image
* Published/Created Year
* Amazon Link

Intentionally leaving out Medium (Book/CD/etc) and Credits/Author/Artist for now.

Related content from old site:
* https://github.com/wesruv/jungcentraloh

[2016-12-10 20:39] #28 closed

[2016-12-10 20:39] #29 closed

[2016-12-11 22:17] #27 closed

[2016-12-11 22:17] #25 closed

[2016-12-11 22:21] #24 closed

[2016-12-11 22:27] wesruv opened #33 "Add Node Reference / Taxonomy Reference Modules"
- [ ] Checkbox 1
- [ ] Another Checkbox!

[2016-12-11 22:35] #31 closed

[2016-12-11 22:36] wesruv commented on #31
Thinking we might want to combine this with store item content type. Going to ask JACO folks.

[2016-12-11 23:06] wesruv opened #34 "Data Structure - Analyst"
This content type is for organizing and listing Jungian Analysts

* Name
* Credentials
* Services Provided
* Diploma
* Phone #
* E-mail Address
* Photo? (Ask Sydney if this is something they're interested in)

Related content from old site:
* https://github.com/wesruv/jungcentralohio.org/issues/18
* Maybe related? https://github.com/wesruv/jungcentralohio.org/issues/9 Might want to ask Sydney?

[2016-12-19 13:52] maryeb commented on #32
Spun up a multi-dev on Pantheon for this issue. Feedback is welcome.

[2016-12-19 15:41] wesruv commented on #32
That environment is at: http://maryeb-32-jaco.pantheonsite.io/

[2016-12-22 15:19] starbuck28 commented on #19
So I tried to make a few style tiles using the SASS template from CodePen. Here are the links:

http://codepen.io/starbuck28/pen/LbBgYG
http://codepen.io/starbuck28/pen/KNxKJa
http://codepen.io/starbuck28/pen/ZBMYEa

Do I need to add a logo? Is there anything I should add or change? Thanks!

[2016-12-22 21:57] starbuck28 commented on #22
Wes, I went ahead and created multidev Starbuck12 for this content type. A couple of questions and this may be thinking too far ahead.... but if we need to add a location to the event but we already have a content type for location, how do we combine the two? Are we still going to link to Eventzilla for the event registration (I can't remember if we talked about this)? Thanks!

[2016-12-28 19:38] maryeb commented on #19
Here are some Style Tile ideas. I'm working on a few more, for fun, and will share if anyone is interested.

I'd love some feedback, if you have the time. Thanks.

http://codepen.io/maryeb/pen/WoBvMe
http://codepen.io/maryeb/pen/BQejBR
http://codepen.io/maryeb/pen/eBaNVd

[2016-12-28 21:35] wesruv commented on #19
These are looking great!

@starbuck28 @maryeb can we get their logo on these to make sure our font choices are working with it? I'm assuming we have a copy of it in that Dropbox folder?

[2016-12-28 23:13] maryeb commented on #19
@wesruv Their logo is an image of something. I'm not sure how it relates to our font choices.

https://www.dropbox.com/sh/z3s7jtt2nf0v2jg/AAAb6puKHEKeUtRz4ioGxbWsa/Logo?dl=0

[2016-12-29 01:10] maryeb commented on #19
@wesruv Here is a style tile I am experimenting with. It is **not** a finished tile.  I just tried to add the logo image to the header. Is this what you want? If so, I can add the logo to the completed style tiles that I shared in the comment above.

http://codepen.io/maryeb/pen/WoXgNV

[2016-12-29 14:59] starbuck28 commented on #19
I tried briefly to get the logo in the style tile but was having trouble. I'll see if I can give it another try. @maryeb I really like your tiles, especially 1 & 2

[2017-01-07 17:50] wesruv commented on #19
@maryeb Ahh, I thought there might have been type in their logo. Hah, in this case it doesn't.

The shaping and colors could effect some of our choices though.

[2017-01-07 18:23] maryeb commented on #19
@wesruv Here's the link to my CodePen style tile that has the logo added. It's not a completed style tile, since I wasn't sure if this is what you wanted. I was just experimenting.
http://codepen.io/maryeb/pen/WoXgNV

I can add the logo to my completed Style Tiles if you like. Here are the links to the completed Style Tiles again.

http://codepen.io/maryeb/pen/BQejBR
http://codepen.io/maryeb/pen/W

[2017-01-07 18:37] wesruv commented on #22
@starbuck28
Oh, I forgot to leave a note about these, I left them off intentionally!

For location, there's a new(ish) feature coming up in Backdrop 1.6 that we'll use to make this easier.

Yes we are using Eventzilla, I'm not sure how exactly we'll tie it together, the easiest route would be a link to the Eventzilla site, but there's a chance we could do something cooler. Want to leave it off for

[2017-01-07 18:42] wesruv commented on #22
@starbuck28 hah, just figured out that I didn't look at the back of the card where I took my notes, we'll also need a field for # of seats. Updated issue description.

[2017-01-07 18:46] wesruv commented on #22
Took a look at what you have so far and it looks great!

[2017-01-07 18:50] wesruv commented on #32
@maryeb a little bit of feedback:
On Amazon Link we won't need a "Link Title", just the URL, the link text (title) will always be the same and we can set that when we make the templates.

Everything else looks great!

Let me know when that's updated and I'll get it moved to the other environments!

[2017-01-07 18:51] #20 closed

[2017-01-07 18:56] wesruv commented on #19
@maryeb I think that logo placement looks great, anywhere in the top bar works for me.
I would assume that the top bar color would be color of the site header/menu area so the logo would (probably) be on top of it.

@starbuck28 can you steal the image that @maryeb is using for her logo that removes the white rectangle look?

[2017-01-07 19:00] wesruv commented on #19
One critique I have for both of you, from what we heard from Sydney at our first meeting, I think we need to get rid of some of the 'rectangular' look. I think it's fine for the color swatches and textures, but we might want to experiment with how we do the header.

There are a couple of ways we could do that:
* Get rid of the header background color and instead provide a bg image on the header
*

[2017-01-07 19:26] maryeb commented on #32
@wesruv Do you mean under "Link Title" I should mark "no title" in the options? (If so, this is done)
 Or is there some way I'm supposed to get rid of "Link Title" field altogether?

[2017-01-07 19:50] wesruv commented on #32
That should do it!

Thanks!

[2017-01-10 16:50] maryeb commented on #19
@wesruv Here are some more Style Tiles using images.
http://codepen.io/maryeb/pen/jybdmW
http://codepen.io/maryeb/pen/xgwMRP
http://codepen.io/maryeb/pen/mRevdz
http://codepen.io/maryeb/pen/XpmOaa

Here's another idea for a Style Tile without the 'rectangular' look.
http://codepen.io/maryeb/pen/YpmqQV

[2017-01-11 17:14] wesruv commented on #19
I like this one a lot:
http://codepen.io/maryeb/pen/mRevdz
I might try headlines that aren't bold, I think that serif font will look 'slicker' in a 'normal' weighted font.

And this one as well:
http://codepen.io/maryeb/pen/xgwMRP
I'm not sure if they'll like the font as much, but I think it'll be good to show them more than one type of font and get their reaction.

[2017-01-11 18:11] maryeb commented on #19
@wesruv Do you want 'bold' removed from all of the font styling? It's on the h1, h2, buttons, typography samples.

[2017-01-20 17:35] wesruv commented on #19
@maryeb I was thinking just the 'serif' font. That's a default in browsers, but we don't need to adhere to it, and I think (from our conversations with them) that they'll gravitate more to a 'normal weight' serif.

But we'll see!

[2017-01-20 17:36] wesruv commented on #19
@maryeb @starbuck28 do you each want to pick/finish up two and we can present them tomorrow?

[2017-01-20 17:37] wesruv commented on #34
@pascalmp any luck on this?

[2017-01-20 17:38] wesruv commented on #22
@starbuck28 any more progress to look at?

[2017-01-20 17:46] pascalmp commented on #34
Hi Wes,

I'm working on it, will keep you posted when I get something to share!

   This (https://itunes.apple.com/app/apple-store/id922793622?pt=814382&mt=8&ct=how_i_email)  is how I Email now

[2017-01-20 17:47] wesruv commented on #34
No problem, just wanted to see if you had any questions 😄

[2017-01-20 17:50] maryeb commented on #19
@wesruv I was thinking we'd go with the two that you mentioned that you liked in your post from nine days ago. I removed "bold" from the Tile with the serif font and changed it to normal weight. Is this better?

I played around with adding a background image to the whole page and making a tile that looked more like the example you posted above. Here are the links, if you want to take a look.
http:

[2017-01-20 17:53] #32 closed

[2017-01-20 17:53] starbuck28 commented on #22
Not yet. I'll add it tonight. Sorry! :(

On Fri, Jan 20, 2017 at 12:38 PM, wesruv <notifications@github.com> wrote:

[2017-01-20 17:54] starbuck28 commented on #19
I'll send my two to you tonight. Thanks!

On Fri, Jan 20, 2017 at 12:50 PM, maryeb <notifications@github.com> wrote:

[2017-01-20 18:09] maryeb commented on #19
It's also ok with me if @CraigKaminski @pascalmp and @starbuck28 want to weigh in and pick which Tiles they'd like to present tomorrow.

[2017-01-20 18:22] wesruv commented on #22
No worries!

[2017-01-21 05:02] starbuck28 commented on #19
Here's what I've come up with:
http://codepen.io/starbuck28/full/LbBgYG/
http://codepen.io/starbuck28/pen/ZBMYEa

I used a header with a photo background in one and experimented with adding some curve to the header on the other.

[2017-01-21 05:16] starbuck28 commented on #22
Ok- I added a field for the number of seats.

[2017-01-21 17:02] pascalmp commented on #34
Hello, Wes,
I just had an unexpected last minute error.
i might have confused the dev environments,

I created a content type named Analysts (+Add Content Type)
Then I created as its fields:

Name
Credentials
Services Provided
Diploma
Phone #
E-mail Address
Photo

and saved.
but when I went on pantheon and cloned from Dev to pascalmp-1 , the link to pascalmpa-1 site returned an error page http://p

[2017-01-21 17:28] wesruv commented on #22
Looks great!

[2017-01-21 17:28] #22 closed

[2017-01-21 17:37] pascalmp commented on #34
I created another MultiDev env called pascalmp-2, that's where i'm recreating the content type Analysts and its fields. I will not clone anything until the Scrum meeting. I realized when I first created the new content type it was on this link http://dev-jaco.pantheonsite.io/admin/structure/types/add , nothing was saved, now im in the right multidev env http://pascalmp-2-jaco.pantheonsite.io/admin

[2017-01-21 17:37] wesruv commented on #34
Hrmm it sounds like you cloned as the last step. I would clone as the first step, or not at all. Putting older configuration into a site with updates can definitely cause some issues.

[2017-01-21 17:39] pascalmp commented on #34
haha, yeah, I thought so. The video tutorials i have been watching use an old UI (2013), the current UI look different and that confused me

[2017-01-21 17:45] wesruv commented on #34
@pascalmp looking at your content type, one small piece of feedback:
We don't need an extra field for name, the "Title" field (currently called Analyst), can be called "Name", you can change that field's name in the "Configure" tab (not very intuitive).

[2017-01-21 17:46] wesruv commented on #34
@pascalmp actually a few more more small things:
* We don't need "filtered text" on the credentials field, plain text is fine
* We should put "filtered text" on Services provided so that they can have bold, bulleted lists, etc.

[2017-01-21 17:47] pascalmp commented on #34
oh ok, then how about the Body field and the Services Provided? are those the same?

[2017-01-21 18:56] wesruv commented on #34
Let's keep those separate for now... this looks good to me.

[2017-02-16 18:28] wesruv opened #35 "Wireframe: Local Jungian Analysts"
A page showing all of the local Jungian Analysts which can look nicer than

When working on these check the available data from the content type to consider what should be put on the page.

At the outset here each of you will have to take a guess at what the header and footer should look like, before we present we'll have to decide what the best solution is and make sure every wireframe has the sa

[2017-02-16 18:30] wesruv opened #36 "[META] Wireframing"
When working on these check the available data from the content type to consider what should be put on the page.

At the outset here each of you will have to take a guess at what the header and footer should look like, before we present we'll have to decide what the best solution is and make sure every wireframe has the same header and footer.

**Tickets**
- [ ] Page of Jungian Analysts (https://g

[2017-02-16 18:33] wesruv opened #37 "Wireframe: Gallery Artist Page"
A page dedicated to a single gallery artist. We will be able to show a listing of the art they have had in the gallery on this page.

Related:
https://github.com/wesruv/jungcentralohio.org/issues/29

When working on these check the available data from the content type to consider what should be put on the page.

At the outset here each of you will have to take a guess at what the header and footer

[2017-02-16 18:38] wesruv opened #38 "Wireframe: Event Page"
Page showing a single event and all of it's relevant information. We will be able to show any information found in the "Location" content type.

Related:
* https://github.com/wesruv/jungcentralohio.org/issues/22
* https://github.com/wesruv/jungcentralohio.org/issues/17
* https://github.com/wesruv/jungcentralohio.org/issues/10
* https://github.com/wesruv/jungcentralohio.org/issues/16
* https://gith

[2017-02-16 18:44] wesruv opened #39 "Wireframe: Lending Library Item"
A page showing a single lending library item.

Related:
* https://github.com/wesruv/jungcentralohio.org/issues/31
* https://docs.google.com/spreadsheets/d/10HaxfA967XlL19VUSrjxFebOLcq2un0VOSPMqq5kCd0/edit#gid=0

When working on these check the available data from the content type to consider what should be put on the page.

At the outset here each of you will have to take a guess at what the heade

[2017-02-16 18:47] #34 closed

[2017-03-07 00:34] maryeb commented on #37
Here's my first attempt at a wireframe. I tried dragging and dropping the file. Not sure it worked.

![wireframegalleryartist](https://cloud.githubusercontent.com/assets/10517725/23636448/686b91ca-02a3-11e7-9f7c-697cf360e538.jpg)

[2017-03-07 16:14] wesruv commented on #37
@maryeb
A few technical notes:
* For your two images (the boxes with an X through them) can you tell us what what those images should be?
* If you have the time, take a guess at what the top level navigation items might be
* What is the border around the header, content and copyright area? I'm thinking we can lose those unless they're meant to depict something.
* Is the word Bio meant to describe

[2017-03-07 16:58] maryeb commented on #37
Thanks for the feedback @wesruv . A couple of questions.
1. For the two images: should I keep the X and add text over the top of the X? The one in the header is the logo, the other image is one of the artist's pieces.

2. I put the border around the header, content and footer/copyright area because that's what I thought i was supposed to do to delineate the areas in the wireframe. Should I just ha

[2017-03-07 17:48] wesruv commented on #37
Re: 1
I see the word logo in the top left, a box that looks like an image in the top right, and one in the content, I'm most curious about the one in the top right?

For adding text to images, something like this would be fine:
![image](https://cloud.githubusercontent.com/assets/5607236/23669829/814b0710-035d-11e7-8b9a-40f0d13c1c3c.png)

Ahh, I thought the one in the body might be a picture of the

[2017-03-08 00:31] maryeb commented on #37
Here's my updated version.

![wireframegalleryartist3](https://cloud.githubusercontent.com/assets/10517725/23684396/986b1e6c-036c-11e7-89b3-870c0d9cc3c9.jpg)

[2017-03-10 00:32] maryeb commented on #19
Here's a Style Tile where I tried to make the header look more like the one on the LA site. Feedback welcome.
 @wesruv do you just want one tile from me to show Sydney on Saturday?
http://codepen.io/maryeb/full/XMjVZb/

[2017-03-11 13:50] starbuck28 commented on #19
Ok here's a new concept for the style guide. I tried to incorporate the elements that were requested.
[JACO Style Guide.pdf](https://github.com/wesruv/jungcentralohio.org/files/835797/JACO.Style.Guide.pdf)

[2017-03-11 16:34] wesruv commented on #19
@maryeb looks great!
A couple of small things:
* I would try bringing the font-size down on "C.G. Jung Association of Central Ohio"
* I'd put some space between the two columns
![image](https://cloud.githubusercontent.com/assets/5607236/23824931/4cea1e2c-064e-11e7-890d-9b378523faed.png)

@starbuck28 Also looking great, a few notes:
* Wondering if there's a nice way to frame the images in the top l

[2017-03-11 16:37] wesruv commented on #37
@maryeb looking good! A few notes:
* Need some white space to separate the major elements more
  * some space underneath the nav
  * some space above the footer
* Show what the format of previous exhibits might look like
* I'd line up the artist's name and artist's work image

[2017-03-11 16:38] starbuck28 commented on #38
I grabbed this one because I didn't see that anyone had yet. Here's my wireframe concept:
[JACO Event Wireframe copy.pdf](https://github.com/wesruv/jungcentralohio.org/files/835937/JACO.Event.Wireframe.copy.pdf)

[2017-03-11 16:46] starbuck28 commented on #19
Thanks Wes. Will try to make those adjustments.
Elaine

[2017-03-11 17:22] starbuck28 commented on #19
Revision
[JACO Style Tile Redesign.pdf](https://github.com/wesruv/jungcentralohio.org/files/835968/JACO.Style.Tile.Redesign.pdf)

[2017-03-11 17:24] starbuck28 commented on #38
Made some revisions based on your feedback for other wireframes, Wes.
Here it is again:
[JACO Event Wireframe copy.pdf](https://github.com/wesruv/jungcentralohio.org/files/835971/JACO.Event.Wireframe.copy.pdf)

[2017-03-11 17:25] starbuck28 commented on #38
Whoops. Here's the correct one.
[JACO Event Wireframe 2.pdf](https://github.com/wesruv/jungcentralohio.org/files/835972/JACO.Event.Wireframe.2.pdf)

[2017-03-11 17:43] maryeb commented on #37
Thanks @wesruv . I just got home, so I'll work on the adjustments later today or tomorrow.

[2017-03-11 17:44] wesruv commented on #19
Excellent! Looks great!

*Wes Ruvalcaba*
Senior Front-End Developer
Lullabot

*GitHub    *wesruv
*Codepen   *wesruv
*D.org     *wesruv

lullabot.com/who-we-are/wes-ruvalcaba

On Sat, Mar 11, 2017 at 12:22 PM, Elaine Oglesbay <notifications@github.com>
wrote:

[2017-03-11 17:45] maryeb commented on #19
Thanks for the feedback @wesruv . I'll change the font size. Not sure I'll have time to figure out how to adjust the spacing between those columns before our meeting.

[2017-03-11 17:52] wesruv commented on #38
These are looking great!

Some notes:
* Unless there's a strong reason for it, I think the event featured image might be too dominate, I think decreasing the height ought to be fine for the purposes of the wireframe
* In the speaker section, could you provide a little more clarity on what content is in there? (e.g. Name, title, read more link, etc?)
* I don't think we'll have payment options, but

[2017-03-11 17:52] wesruv commented on #19
@maryeb no worries!

[2017-03-11 18:21] wesruv commented on #19
@maryeb font looks great, let me know when you're able to look at the rest of it!

[2017-03-11 18:31] maryeb commented on #19
I love Elaine's  Style Tile redisign, very elegant and artistic. If we are only going to present one to Sydney, this gets my vote.

[2017-03-11 21:41] maryeb commented on #19
@wesruv I adjusted the code to create space between the two columns.
http://codepen.io/maryeb/pen/GWmEzL

[2017-03-12 17:29] maryeb commented on #37
@wesruv Based on your feedback for me and Elaine, I have updated this wireframe.

![wireframegalleryartist4](https://cloud.githubusercontent.com/assets/10517725/23834150/e86e46c8-0727-11e7-85df-2f747985c2ae.jpg)

[2017-03-19 17:21] maryeb commented on #19
Here's a repeat of the message I sent earlier as a reply to your feedback. @wesruv I adjusted the code to create space between the two columns.
http://codepen.io/maryeb/full/GWmEzL/

Here's the one you just asked about.
http://codepen.io/maryeb/full/GWmEzL/

[2017-03-19 17:22] maryeb commented on #19
http://codepen.io/maryeb/full/zZzJGz/

[2017-03-25 14:37] starbuck28 commented on #38
Here's a revised version!
[JACO Single Event Wireframe-revised.pdf](https://github.com/wesruv/jungcentralohio.org/files/870098/JACO.Single.Event.Wireframe-revised.pdf)

[2017-03-25 16:14] wesruv commented on #38
Looks great!

[2017-03-25 16:19] wesruv commented on #37
Looks good, I think the name should be more prominent (bigger font size and/or bolder?)
Previous Exhibits looks like a heading, maybe bump up it's prominence a little bit
Add a few previous Exhibits (I assume that would be a list?
The website links may not all be social media links (I assume those are meant to be icons?), so we might want to list them a little differently.

Looking really close th

[2017-03-25 16:37] maryeb commented on #37
@wesruv I tried to indicate the artist's website link with 'website' and the social media links the same way that JACO social media links are indicated, as small squares. How do you want these to look?

[2017-03-25 16:43] wesruv commented on #37
Ahh, gotcha. That makes sense! I was assuming that that "Website" was a label, maybe make that blue and/or underlined?

When I give wireframes for review I also include notes on things that might not be obvious, or that I have in mind but aren't necessarily 'depictable' in a wireframe, that might help make sure myself and our future selves will interpret your intentions correctly 😄

[2017-03-25 17:42] maryeb commented on #37
@wesruv Wireframe with additional changes.

![wireframegalleryartist5](https://cloud.githubusercontent.com/assets/10517725/24324650/b6658e64-1160-11e7-95ca-0aeb42aef16b.jpg)

[2017-03-26 20:07] wesruv commented on #37
Excellent!

With wireframes it can also be useful to leave a description if you think there should be any functionality that's not obvious, or if you think there's something that isn't very easy to depict with the wireframe.

This looks great though, I think we can call it complete 😄

[2017-03-27 13:29] maryeb commented on #19
Here is my edited version of the header, based on feedback from last scrum meeting.

Logo enlarged, center filled so background color shows through.
Changed font to that used by Elaine to add descender to the "J"
Added multiple images in varied sizes as suggested by Sydney

http://codepen.io/maryeb/full/BWYZay/

[2017-04-15 15:19] CraigKaminski commented on #39
The available data does not include images. We'll have to look for a copyright friendly way to get book and DVD covers. At the very least someone could take pictures with their cell phone.

[JACO Lending Library Wireframe.pdf](https://github.com/wesruv/jungcentralohio.org/files/923685/JACO.Lending.Library.Wireframe.pdf)

[2017-04-15 16:25] wesruv commented on #39
Well we can design assuming some might get added and code for when they're not there, should be fine.

Looking good! Some notes:
* I think we should remove "Buy" off of the button, I think the buy/lend page should be separate (even if they're pointing to the same book node), I think a price needs to be on a buy page and would be confusing on a lending page.
* Think we could combine Publisher and P

[2017-04-29 16:57] CraigKaminski commented on #39
Updated PDF with suggestions from Wes.
[JACO Bookstore and Library.pdf](https://github.com/wesruv/jungcentralohio.org/files/966284/JACO.Bookstore.and.Library.pdf)

[2017-04-29 17:18] pascalmp commented on #39
I'm forwarding the same email with wireframe doc attached, ignore the unrelated messages below.

Thanks

Sent from my iPhone

Begin forwarded message:

[2017-05-09 15:11] pascalmp commented on #39
There it is!

I think we'll want the name and title to stick out more, I think they
should each have their own line, and maybe a little bigger 'font size'.

Not sure what "Bio, Contacts" is? I think Bio would be the block of text?
Is contact contact info? If so I think it could also get it's own line and
be normal 'font size'.

Otherwise it looks great!

*Wes Ruvalcaba*
Senior Front-End Developer